#navbar-container {
  background-color: rgb(34, 33, 33);
  padding: 0 12px; /* Add left and right padding */
  margin-top: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li {
  margin: 0;
}

li a {
  text-decoration: none;
  color: white;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 15px;
  padding-right: 3px;
}

li a:hover {
  color: red;
}

.logo-item {
  display: flex;
  align-items: center;
}

.logo-item img {
  display: block;
  margin: 0 auto;
}
.auth-container {
  background-color: rgb(86, 84, 84);
  padding: 10px;
  border-radius: 6px;
  display: flex;
}
.auth-container > a {
  color: white;
}
.auth-container > a:hover {
  color: white;
}
.auth-container:hover {
  background-color: rgb(97, 97, 97);
}
