#navbar-container {
  background-color: rgb(34, 33, 33);
  padding: 0 12px; /* Add left and right padding */
  position: relative; /* Add relative positioning */
  z-index: 1; /* Set a higher z-index value than the header container */
  margin: 0;
}

#navbar-container ul {
  list-style-type: none;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 20px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#navbar-container li a {
  text-decoration: none;
  color: white;
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 15px;
  padding-right: 3px;
  transition: color 0.6s ease-in-out;
}
#navbar-container li a:hover {
  color: red;
}
#navbar-container li a:focus {
  color: red;
}
.logo-item {
  display: flex;
  align-items: center;
}

.logo-item img {
  display: block;
  margin: 0 auto;
}
.auth-container {
  border: 3px solid white;
  padding: 10px;
  border-radius: 6px;
  display: flex;
  transition: background-color, border 0.6s ease-in-out;
  z-index: 2;
}
.auth-container a {
  color: white !important;
  transition: color 0.6s ease-in-out;
}
.auth-container a:hover {
  color: white !important;
}
.auth-container:hover {
  background-color: red;
  border: 3px solid red;
}
.login-modal-container2 {
  position: fixed;
  top: 400%; /* Adjust the value as needed to move the content down */
  right: 50%;
  transform: translate(50%, -50%);
  z-index: 9999;
}


.menu-icon {
  display: none; /* Hide the menu icon by default */
}
.menu-icon button {
  background-color: rgb(34, 33, 33);
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}
@media screen and (max-width: 1080px) {
  /* Show the menu icon on screens with width up to 768px (tablets and cellphones) */
  .menu-icon {
    display: block;
  }

  /* Hide the horizontal navbar on small screens */
  #navbar-container .list-item{
    display: none;
  }
  .auth-container {
    display: none;
  }
}
#navbar-container {
  height: 50px;
}
