<nav id="navbar-container">
  <ul>
    <li class="logo-item"><a routerLink="/Home"><img src="assets/img/armin-logo.jpg" alt="Armin Logo"></a></li>
    <li><a routerLink="/TourDates">TOUR DATES</a></li>
    <li><a routerLink="/News">NEWS</a></li>
    <li><a routerLink="/Music">MUSIC</a></li>
    <li><a routerLink="/Biography">BIOGRAPHY</a></li>
    <li><a routerLink="/Videos">VIDEOS</a></li>
    <li><a routerLink="/AStateOfTrance">A STATE OF TRANCE</a></li>
    <li><a routerLink="/Shop">SHOP</a></li>
    <li><a routerLink="/Contact">CONTACT</a></li>
    <li><a routerLink="/Armin'sALL-access">ARMIN'S ALL-ACCESS</a></li>
  </ul>
</nav>
