@import '~@fortawesome/fontawesome-free/css/all.min.css';
/* styles.scss */
* {
  font-family: 'Montserrat', sans-serif;
}
/* Establecer fondo negro para todo el documento */
body, html {
  background-color: rgb(34, 33, 33);
  color: white;
  margin: 0;
  padding: 0;
}

/* Estilos adicionales específicos de la aplicación */
app-root,
app-nav {
  background-color: black;
  color: white;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
