<div id="shop-container-1">
   <b>Actual delivery time 2-4 working days worldwide.</b>
</div>
<div>
<div id="shop-container-2">
  <img src="https://i.ytimg.com/vi/Yxi7ABcIxKU/maxresdefault.jpg"  max-width="100%">
  <h1>ARMIN VAN <br /><br /><br /> BUUREN</h1>
</div>
<div id="shop-container-3">
  <h1 style="text-align:center">WELCOME TO THE ARMIN VAN BUUREN'S SHOP</h1>
  <div id="img-containers-1">
    <div class="img-container">
      <img src="https://http2.mlstatic.com/D_NQ_NP_713053-MLA41903177563_052020-O.webp">
      <h1>Black Pullover</h1>
      <p>20.50$</p>
      <span>Select item</span>
    </div>
    <div class="img-container">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSItw-l1x0KPkKuRrcrPJe87Zz0QeIBc8AZiQ&usqp=CAU" style="width:200px; height:200px">
    <h1>CD</h1>
    <p>5.99$</p>
    <span>Select item</span>
    </div>
    <div class="img-container">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT8lAnuYYXW0kv_c7poMu887MquKcL00BcAt2TL6Yl4CORFg-oPWMO74RbHqq-_Ha_sqH8&usqp=CAU">
    <h1>White t-shirt</h1>
    <p>5.99$</p>
    <span>Select item</span>
    </div>
    <div class="img-container">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRECrqK7ANnfVVv7cD6MwGpJg1Xi7Jy51i2d_Da4q-fsnq4-i0GCq_0WmRGurM3PEM8-mw&usqp=CAU">
    <h1>Waterbottle</h1>
    <p>20.99$</p>
    <span>Select item</span>
    </div>
    </div>
    <div id="img-containers-2">
      <div class="img-container">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSMdcRQV-cLSBXSNNncDGcGy_irpHAu7IcHR2BMaVP5C8L0mEP2BPaP52AzaOaUptgYGJo&usqp=CAU">
        <h1>Black cap</h1>
        <p>7.99$</p>
        <span>Select item</span>
      </div>
      <div class="img-container">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRwvW6pBFgtSyEl7K7mF_IaYU4pPRofaJ-EvA&usqp=CAU">
        <h1>Baby cloth</h1>
        <p>8.99$</p>
        <span>Select item</span>
      </div>
      <div class="img-container">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ_6KU5RXcSZj8JGPttL11nb4690_wpz7pi9VEvgdcDx2uQ8lVC76DJQzq31Nrm6u7WnIk&usqp=CAU">
        <h1>Black jacket</h1>
        <p>30.50$</p>
        <span>Select item</span>
      </div>
      <div class="img-container">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSkiusX6GHAo4K-VoogcZ_iYCWkfB0E9lQZtfZgIoAgkcT4VH-Cc2S3ioqjfXxl8DWV2JY&usqp=CAU">
        <h1>Face musk</h1>
        <p>2.99$</p>
        <span>Select item</span>
      </div>
    </div>
</div>
