<section>
  <h1 class="main-title">LATEST MUSIC</h1>
  <p class="p-description">Here's an overview of all the tracks, remixes, and other releases Armin brought to life</p>
  <div>
    <div class="images-container">
      <div class="img-container">
        <a href="https://youtu.be/jJvPWiTE9OI" target="_blank"><img src="https://lastfm.freetls.fastly.net/i/u/ar0/b56326fcfb78d6e933dda9f6f1f63852.jpg"></a>
        <a href="https://youtu.be/B1JOlfzTSMo" target="_blank"><img src="https://i1.sndcdn.com/artworks-7b2de776-70df-4fa1-858c-3b0ee7f97746-0-t500x500.jpg"></a>
        <a href="https://youtu.be/BR_DFMUzX4E" target="_blank"><img src="https://cdns-images.dzcdn.net/images/cover/8c11a0aa8f4bf63c10a86ff32942e9e2/350x350.jpg"></a>
      </div>
      </div>
      <div class="button-container">
        <a class="button" href="https://www.youtube.com/@arminvanbuuren/playlists" target="_blank">More Music</a>
      </div>
  </div>
</section>
