.main-title{
  font-size: 30px;
  font-weight: 600;
  font-family: 'Montserrat';
  text-align: center;
}
.p-description {
  text-align: center;
  color: rgb(181, 180, 180);
  font-family: 'Montserrat';
  font-size: 13px;
  margin-bottom: 40px;
}
.images-container {
  display: flex;
  justify-content: space-around;
}

.img-container img {
  margin: 0 50px;
  width: 264px;
  height: 264px;
}
.button-container {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
.button {
  background-color: white;
  padding: 0 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: inline;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
}
.button {
  text-decoration: none;
  color: white;
  font-family: 'Montserrat';
  font-weight: 600;
}
.button:hover {
  color: red;
}
.armin-presentation-img-txt-container {
  background-color: white;
  padding: 20px;
  overflow: hidden;
}

.armin-presentation-img {
  float: left;
  width: 40%;
  height: auto;
  margin-right: 20px;
}

.armin-presentation-txt {
  font-family: 'Montserrat', sans-serif;
  line-height: 2.5;
  color: gray;
  margin-right: 80px;
}

/* Estilos para el formulario */
form {
  max-width: 400px;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

textarea {
  margin-bottom: 30px;
}

button {
  background-color: #07810b;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  display: block;
  margin: auto;
  margin-bottom: 50px;
  font-weight: bold;
  padding: 15px;
  width: 100px;
  text-align: center;
  font-size: 15px;
  transition: background-color 0.6s ease-in-out;
}


button:hover {
  background-color: #096f0e;
}

.form-container {
  margin-top: 40px;
  position: relative;
}
#contact-title {
  text-align: center;
  font-size: 30px;
}
