<html lang="en">
<head>
</head>
<body style="background-color:white; padding:8px">
  <div id="aStateOfTrance-container">
  <h1>A STATE OF TRANCE</h1>
  <p>
    Broadcast weekly to over 40 million listeners in 84 different countries from the custom-built radio studio in Amsterdam, Armin van Buuren’s A State Of Trance radio show is the epicenter of Trance music. Having run for over a thousand episodes and counting, the show won the title of ‘Best Mix Radio Show’ at the International Dance Music Awards in Miami for an unprecedented seven times and continues to provide Trance fans with the hottest new tunes, a Future Favorite, Tune Of The Week, Progressive Pick and Service For Dreamers classic every single week. Add to that the success of the global A State Of Trance events, the show’s growing popularity and its loyal fanbase and you know A State Of Trance is where the magic happens.
  </p>
  <button id="aStateOfTrance-button" type="submit"><a href="https://enter.astateoftrance.com/" target="_blank">ENTER THE STATE OF TRANCE WEBSITE</a></button>
</div>
</body>
</html>
