<footer id="footer-container">
  <b>FOLLOW ME</b>
  <div class="link-icon-container">
    <a href="https://www.instagram.com/arminvanbuuren/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
    <a href="https://www.youtube.com/@arminvanbuuren" target="_blank"><i class="fa-brands fa-youtube"></i></a>
    <a href="https://open.spotify.com/artist/0SfsnGyD8FpIN4U4WCkBZ5" target="_blank"><i class="fa-brands fa-spotify"></i></a>
    <a href="https://www.facebook.com/arminvanbuuren" target="_blank"><i class="fa-brands fa-facebook"></i></a>
    <a href="https://www.tiktok.com/@arminvanbuuren" target="_blank"><i class="fa-brands fa-tiktok"></i></a>
    <a href="https://twitter.com/arminvanbuuren" target="_blank"><i class="fa-brands fa-twitter"></i></a>
    <a href="https://music.apple.com/us/artist/armin-van-buuren/17976294" target="_blank"><i class="fa-solid fa-music"></i></a>
  </div>
</footer>
