<footer id="footer-container">
  <b>FOLLOW ME</b>
  <div class="link-icon-container">
    <a [href]="link_icon_container[0].href" target="_blank"><i class="fa-brands fa-instagram"></i></a>
    <a [href]="link_icon_container[1].href" target="_blank"><i class="fa-brands fa-youtube"></i></a>
    <a [href]="link_icon_container[2].href" target="_blank"><i class="fa-brands fa-spotify"></i></a>
    <a [href]="link_icon_container[3].href" target="_blank"><i class="fa-brands fa-facebook"></i></a>
    <a [href]="link_icon_container[4].href" target="_blank"><i class="fa-brands fa-tiktok"></i></a>
    <a [href]="link_icon_container[5].href" target="_blank"><i class="fa-brands fa-twitter"></i></a>
    <a [href]="link_icon_container[6].href" target="_blank"><i class="fa-solid fa-music"></i></a>
  </div>
  <p style="font-size:medium; margin-top:40px">Everything is copyright reserved <i class="fa-regular fa-copyright" style="font-size:medium"></i></p>
</footer>
